#show-record-div{
    background-color: rgb(214, 214, 214);
    height: 50vh;
    padding: 3px;
}

#messages{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
}

.msg-block{
    width: fit-content;
    height:fit-content;
    margin: 5px;
    padding: 3px;
    border-radius: 7px;
    list-style:none;
    max-width:60%;
    word-break: break-all;
}

.msg-block-A{
    background-color: aliceblue;
    align-self: flex-start;
}

.msg-block-B{
    background-color: rgb(156, 221, 113);
    align-self: flex-end;
}

#input-section{
    width: 100vw;
    height: 25vh;
    margin-top: 10px;
    /* background-color: rgb(98, 199, 199); */
    display: flex;    
    justify-content: space-around;
}

.input-div{
    width: 45vw;
    height: auto;
    background-color: rgb(98, 199, 103);
    display: flex;
    flex-direction: column;
}

.name-div{
    display: flex;
    align-items: center;
    height: 15px;
    margin: 5px;
}

.name-div input{
    width: 50%;
}

.input-div textarea{
    width: auto;
    height: auto;
    margin: 5px;
    resize:none;
}

.input-div p{
    align-self: flex-end;
    margin-right: 5px;
}

